body{
  background-color: whitesmoke;
}
#wall {
    
    margin-left: 13%;
}
header {
    text-align: center;
    font-size: x-large;
    font-family: Cambria;
    margin-top: 2%;
    color: rgb(105, 32, 32);
}
 #you-tube{ 
    margin-left: 12%; 
} 
p{
    text-align: center;
    font-size: 20px;
}
li{
    margin-left: 160px;
}
nav.navbar.navbar-inverse{
    width: 70%
    
}
.navbar.navbar-inverse{
    margin-left: 13%;
}