
#wall {
    margin-top: 10px;
    margin-left: 11%;
    border: solid red 2px;
    width: 75%;
    border-radius:10px;
}

header {
    text-align: center;
    font-size: 30px;
    font-family: Cambria;
    margin-top: 1%;
    color: rgb(105, 32, 32);
    /* background-color: rgb(187, 184, 184); */
}

 

p{
    text-align: center;
    font-size: 35px;
    color: rgb(15, 82, 124);
    font-family: 'Alex Brush', cursive;
}

li{
    border:solid red 2px;
    border-radius: 5px;
    margin-right: 20px;
    width: 115px;
    height: 60px;
}



iframe{
    /* border: solid red 2px; */
    border-radius:20px;
    margin-left: 3px;
}

.pics{
    width: 200px;
    margin-left: 5px;
    border: solid red 2px;
    border-radius:10px;
}

#photos div{
    display: flex;
    flex-direction: row;
}

#soundcloud div{
    margin-left: 100px;
    text-align: center;
}

#soundcloud {
    width: 73%;

}

/* #home-pic{
    width:80%;
    margin-left:8%;
    border-radius: 20px;
    box-shadow: 10px 10px grey;
} */

#shows{
    text-align: center;
   
}
@media only screen and (max-width:1366px){
.parent {
    margin-left: 90px;
    position: relative;
    top: 0;
    left: 0;
  }
#hamitems{
    text-align: center;
}
  .navbar.navbar-inverse{
    margin-left: 13%;
    width:68%;
}
  .image1 {
    position: relative;
    width:90%;
/* margin-left:40px; */
    top: 0;
    left: 0;
    /* border: 1px red solid; */
  }
  img.image2 {
    position: absolute;
    width:38%;

    top: 140px;
    left: 290px;
  }
  #you-tube{ 
    margin-left: 12%; 
    display: flex;
    flex-direction: row;
    width:70%;
} 
}
#hamnav {
    width: 100%;
    background: #000;
    /* Optional */
    position: sticky;
    top: 0;
  }
  
  /* Hide Hamburger */
  #hamnav label, #hamburger { display: none; }
  
  /* Horizontal Menu Items */
  #hamitems { display: flex; }
  #hamitems a {
    width: 20%; /* 100% / 5 tabs = 20% */
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
    background: #401408;
  } 
@media only screen and (max-width:780px){
    img.image1 {
        position: relative;
        width:90%;
    /* margin-left:40px; */
        top: 60px;
        left: 0;
        /* border: 1px red solid; */
      }
      img.image2 {
        position: absolute;
        width:38%;
        left: 180px;
      }
    }
    

@media only screen and (max-width:568px){
    
   img.image1 {
    position: relative;
    width:90%;
/* margin-left:40px; */
top: 110px;
    left: 0;
    /* border: 1px red solid; */
  }
  img.image2 {
    position: absolute;
    width:38%;
    left: 60px;
  }
  #you-tube{
      display:inline-block; 
  }
  nav.navbar.navbar-inverse{
      width:33%;
      margin-left: 40%;
  }
    /* Show Hamburger Icon */
    #hamnav label { 
        display: inline-block; 
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
      /* Break down menu items into vertical */
      #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
      }
    
      /* Toggle Show/Hide Menu */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    }
    
}