
#wall {
    margin-top: 10px;
    margin-left: 11%;
    border: solid red 2px;
    width: 75%;
    border-radius:10px;
}

header {
    text-align: center;
    font-size: 30px;
    font-family: Cambria;
    margin-top: 1%;
    color: rgb(105, 32, 32);
    /* background-color: rgb(187, 184, 184); */
}

 

p{
    text-align: center;
    font-size: 35px;
    color: rgb(15, 82, 124);
    font-family: 'Alex Brush', cursive;
}

li{
    border:solid red 2px;
    border-radius: 5px;
    margin-right: 20px;
    width: 115px;
    height: 60px;
}

iframe{
  margin-right: 3px;
  margin-bottom: 2px;
}


#photos div{
    display: flex;
    flex-direction: row;
}

#soundcloud div{
    margin-left: 100px;
    text-align: center;
}

#soundcloud {
    width: 73%;

}


#shows{
    text-align: center;
   
}
@media only screen and (max-width:1366px){
  .homevideo{
    width: 60%;
    border-radius: 20%;
    margin-left: 18%;
    margin-top: 2%;
  }
.parent {
    margin-left: 90px;
    position: relative;
    top: 0;
    left: 0;
  }
#hamitems{
    text-align: center;
}
  .navbar.navbar-inverse{
    margin-left: 13%;
    width:68%;
}
  .image1 {
    position: relative;
    width:90%;
/* margin-left:40px; */
    top: 0;
    left: 0;
    /* border: 1px red solid; */
  }
  img.image2 {
    position: absolute;
    width:38%;

    top: 140px;
    left: 300px;
  }
  #you-tube{ 
    margin-left: 12%; 
    display: flex;
    flex-direction: row;
    width:70%;
} 
#soundcloud{
  width: 70%;
  margin-left: 10%;
}
.pics{
    width: 200px;
    margin-left: 5px;
    border: solid red 2px;
    border-radius:10px;
}

}
#hamnav {
    width: 100%;
    background: #000;
    /* Optional */
    position: relative;
    top: 0;
  }
  
  /* Hide Hamburger */
  #hamnav label, #hamburger { display: none; }
  
  /* Horizontal Menu Items */
  #hamitems { display: flex; }
  #hamitems a {
    width: 20%; /* 100% / 5 tabs = 20% */
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
    background: #401408;
  } 
@media only screen and (max-width:780px){
    img.image1 {
        position: relative;
        width:90%;
    /* margin-left:40px; */
        top: 60px;
        left: 0;
        /* border: 1px red solid; */
      }
      
    #hamnav{
      text-align: center;
      width: 100%;
    }

      img.image2 {
        position: absolute;
        width:38%;
        left: 180px;
      }
    
    #soundcloud{
        margin-left: 25%;
        width: 100%;
    }
    #you-tube{
      margin-left: 1%;
    }
    iframe{
      width:46%;
    }
    .homevideo{
      margin-left:21% ;
    }
}

@media only screen and (max-width:568px){
    .homevideo{
      border-radius: 10%;
      margin-left: 12%;
      width: 80%;
      height: 5%;
    }
    .parent{
      margin-left: 15%;
    }
   img.image1 {
    position: relative;
    width:90%;
/* margin-left:40px; */
top: 105px;
    left: 0;
    /* border: 1px red solid; */
  }
  img.image2 {
    position: absolute;
    width:38%;
    left: 80px;
  }
  #you-tube{
    margin-left: 20%;
      display:inline-block; 
  }
  #soundcloud{
      margin-left: 10%;
      width: 90%;
      height:50% ;
  }

  .pics{
    width: 100px;
    margin-left: 15%;
    border: solid red 1px;
    border-radius:5px;
}
  iframe{
      height:50%;
      width: 90%;
  }
  nav.navbar.navbar-inverse{
      width:33%;
      margin-left: 40%;
  }
    /* Show Hamburger Icon */
    #hamnav label { 
        display: inline-block; 
        color: white;
        background: #a02620;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
      }
    
      /* Break down menu items into vertical */
      #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
      }
    
      /* Toggle Show/Hide Menu */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    }
    
